.header {
    text-align: center;
}

.content-question {
    margin: 0 50px;
    padding: 0 0 5px 0;
}

.quiz{
    margin: 0 0 50px 100px;
    display: none;
}

.btn-nav {
    display: flex;
    justify-content: space-between;
}

.radio:hover {
    color: #f0ad4e;
}

.radio:active {
    color: #ec971f;
}

.question {
    background: #f8f8f8 ;
    border-left: 5px solid #31b0d5;
    border-radius: 5px;
    padding: 2px 16px 2px
}

.order-question {
    padding: 5px;
    margin: 0;
}

.btn-start {
    text-align: center;
}



.first {
    display: block;
}

.pre-button {
    display: none;
}

.next-button {
    margin-left: auto;
}

.done-button {
    display: none;
    border: transparent;
}

.total-score {
    text-align: center;
    color: #c7254e;
    margin: 50px;
    font-size: 114px;
}

.result {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    display: none;
}

#result-correct {
    font-weight: bold;
    color: #2e6da4;

}

.total-correctAnswer, .content-answer {
    font-weight: bold;
    color: #2e6da4;
    text-align: center;

}

.total-score, .total-correctAnswer, .content-answer {
    display: none;
}

.content-answer {
    font-size: large;
}

body {
    background: url("../img/images.jpg");
    background-size: 100%;
}

.form-horizontal {
    border: 1px solid #9d9d9d;
    margin: 0 0 20px 0 ;
    box-shadow: 5px 5px 2px grey;
}

.form-group {
    margin: 15px ;

}

.form-horizontal .control-label {
    text-align: center;
}

.start-btn {
    text-align: center;
    margin: 10px;
}

.input-answer {
    width: 50%;
    margin-bottom: 10px;
}

.question-input {
    margin: 10px;
}

.input-question {
    width: 16%;
}

.error-message, .error-message1, .error-message2, .error-message3, .error-message4 {
    display: none;
    color: #d9534f;
    margin: 0;
}

.warning-message {
    color: #d9534f;
}

.success-message {
    color: #080808;
}

.title-add {
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

.data-table {
    margin: 0px 182px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th {
    background: #faebcc;
    font-weight: bold;
    text-align: center;
}

.header-table {
    text-align: center;
    font-size: 50px;
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
    height: 100px;
    padding-top: 40px;
}

.edit-button {
    color: #2e6da4;
}

.delete-button {
    color: #d9534f;
}

.question-column {
    width: 85%;
}

td {
    background: #eeeeee;
}



